header {
    display: block;
    background-image: url("../img/banner.jpg");
    width: 100%;
    height: 100px;
}

header p {
    font-family: 'Permanent Marker', cursive;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 2rem;
    position: absolute;
    top: 10px;
    width: 80%;
    margin: 0 10%;
}

footer {
    background-color: #1e1716;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
}

main {
    width: 90%;
    margin: auto;
    max-width: 1000px;
    margin-bottom: 100px;
    padding-bottom: 5%;
}

video {
    width: 100%;
}
